<div class="container">
  <h1>Serve</h1>
  <p class="subtitle">Upload pictures of your ingredients to generate a recipe!</p>

  <div class="upload-section">
    <button class="upload-button" (click)="fileInput.click()">
      <i class="upload-icon">📤</i>
      <span>Upload Ingredients</span>
    </button>
    
    <input 
      type="file"
      #fileInput 
      (change)="onFileSelect($event)" 
      multiple 
      style="display: none;"
    >

  </div>

  <div class="uploaded-ingredients">
    <h3>Your Ingredients:</h3>
    <div class="image-grid">
      <img width="120" *ngFor="let image of uploadedImages" [src]="image" alt="Ingredient">
    </div>
  </div>

  <div class="generate-section">
    <button class="generate-button" (click)="upload()">Generate Recipe</button>
  </div>


  <div class="recipe">
    <div *ngIf="!hasGenerated; else hasNotGenerated">
      <p>Upload images of your ingredients and click on the 'Generate recipe' to get started!</p>
    </div>
    
    <ng-template #hasNotGenerated>
      <div class="recipe-section">
        <h2>Your Recipe</h2>
        <div *ngIf="spinner; else notSpinning">
          <mat-spinner></mat-spinner>
          <p>Generating recipe...</p>
        </div>
    
        <ng-template #notSpinning>
          <div class="recipe-placeholder">
            <p>{{recipe}}</p>
          </div>
        </ng-template>
    
      </div>
    </ng-template>
  </div>
  
</div>
